 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    background: #ffd1e8;
}


/* OPENING */
#opening {
    transition: opacity 0.8s ease;
    pointer-events: auto;
    position: fixed;
    inset: 0;
    background: radial-gradient(circle, #ffe0f0, #ff9acb);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#heart {
    font-size: 100px;
    cursor: pointer;
    animation: heartbeat 1.2s infinite;
    pointer-events: auto;
    z-index: 2000;
}

@keyframes heartbeat {
    0%   { transform: scale(1); }
    20%  { transform: scale(1.2); }
    40%  { transform: scale(1); }
    60%  { transform: scale(1.15); }
    100% { transform: scale(1); }
}

#opening p {
    margin-top: 15px;
    font-weight: bold;
    color: #ff4d88;
    pointer-events: none;
}

/* THREE */
#three-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    pointer-events: auto;
}

/* FALLING FLOWER */
.particle {
    position: fixed;
    top: -10%;
    z-index: 5;
    pointer-events: none;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}

canvas {
    display: block;
}
